{% extends 'base.html' %} {% load static %}
{% block content %}

<div class="container">
<div class="card-body">
<div>
 <img src="{% static 'img/banner1.png' %}" alt="departments" width="1085px;" height="400px">
</div>
<br>
<div>
    <h1 class="text-center"> Our Departments</h1>
    <p>Academic departments aim at improving students understanding of the nature of scientific knowledge. It provides a careful constructed, comprehensive program of courses, scheduled in a timely manner. To ensure students have proper and correct knowledge in various subjects that they learn in school.</p>
</div>
</div>
</div>
{% endblock %}
